<head>
    {{> meta}}
    {{!-- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/atom-one-light.min.css"> --}}
    <!--<link rel="stylesheet" href="/style/Informatik/Datenbanken/Relationenmodell/lava.css"> -->
    <title>
        DB-Vorbereitungskurs OptLA Startseite
    </title>
    <style>
        body {
            display: none;
        }
    </style>
</head>