<!doctype html>
<html lang="de-DE">

{{> head }}

<body>
  <div>
    {{> breadcrumbs }}
    <div id="ovk-content">
      <h1><img src="./static/logo_optla.png" style="display: inline; height: 1em;" />&nbsp;&nbsp;Vorbereitungskurs – Datenbanken</h1>

      <details>
        <summary><span><a href="https://gundlagen-db-vorbereitungskurs-optla-ovk-kapitel-6233b8a688bd0b.gitlab.io">Grundlagen</a></span></summary>
      </details>

      <details>
        <summary><span><a href="https://konzeptueller-entwurf-db-vorbereitungskurs-optla-3e64342fc19622.gitlab.io">Konzeptueller Entwurf</a></span></summary>
      </details>

      <details>
        <summary><span><a href="https://logischer-entwurf-db-vorbereitungskurs-optla-ovk-4ab19dffbe3620.gitlab.io">Logischer Entwurf</a></span></summary>
      </details>

      <details>
          <summary><span><a href="https://umsetzung-db-vorbereitungskurs-optla-ovk-kapitel-33e94c48efeecc.gitlab.io">Umsetzung</a></span></summary>
      </details>

      <details>
          <summary><span><a href="https://sql-db-vorbereitungskurs-optla-ovk-kapitel-ovk-k-bda65d6cda94ec.gitlab.io">Structured Query Language – SQL</a></span></summary>
      </details>

      <details>
        <summary><span><a href="https://multidimensionale-modellierung-db-vorbereitungsk-0c4677fa774fd7.gitlab.io">Multidimensionale Modellierung</a></span></summary>
      </details>

      <details>
        <summary><span><a href="https://informationsintegration-db-vorbereitungskurs-opt-9f954679797ec7.gitlab.io">Informationsintegration</a></span></summary>
      </details>

      <details>
        <summary><span><a href="https://information-retrieval-db-vorbereitungskurs-optla-8d4a73ed5d7cd7.gitlab.io">Information Retrieval</a></span></summary>
      </details>

      {{> footer }}
    </div>
  </div>
</body>
